.signupInput {
  background: var(--white);
  width: 450px;
  margin: 10px 0px 20px;
  font-size: 23px;
  height: 54px;
  border-radius: 5px;
  color: var(--font-dark);
  border: 2px solid var(--highlight);
  outline: inherit;
  transition: 0.4s;
  padding: 5px;
}

.sizeInput {
  background: var(--white);
  width: 135px;
  margin: 10px 10px 20px;
  font-size: 23px;
  height: 54px;
  border-radius: 5px;
  color: var(--font-dark);
  border: 2px solid var(--highlight);
  outline: inherit;
  transition: 0.4s;
  padding: 5px;
}

.btn-next button {
  max-width: 40%;
}

.dimensionsContainer input {
  width: 135px;
}

.invisible {
  color: transparent;
}

@media screen and (max-width: 740px) {
  .signupInput {
    width: 330px;
    margin: 10px 0px 20px;
    font-size: 20px;
  }

  .sizeInput {
    width: 100px;
  }

  .dimensionsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 330px;
    margin: 0 auto;
  }

  .dimensionsContainer input {
    width: 96px;
  }
}
