.formClass {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.formClass > * {
  grid-column: 1/-1;
}

.jobView {
  margin: auto;
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 20px;
}

.sizes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
}

.sizes div {
  flex: 1;
  width: 100px;
}

.buttonCancel {
  background-color: red;
  max-width: 40%;
}

/* <select> styles */
.select select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 2px solid var(--highlight);
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: var(--highlight);
  font-size: 1.1em;
  background-image: none;
  cursor: pointer;
}

/* Remove IE arrow */
.select select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: 0.25em;
  overflow: hidden;
  margin-top: 1.4em;
  margin: 1rem auto;
}

/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #34495e;
  color: var(--white);
  transition: 0.25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: var(--white);
}

@media screen and (min-width: 740px) {
  .jobView {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .buttonDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/-1;
    gap: 20px;
  }

  .formClass > * {
    grid-column: 2/-2;
  }

  .formClass {
    width: 100vw;
  }
}
