.login {
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5% auto;
}

.loginInput {
  background: var(--white);
  width: 450px;
  margin: 10px 0px 20px;
  font-size: 23px;
  height: 54px;
  border-radius: 5px;
  color: var(--font-dark);
  border: 2px solid var(--highlight);
  outline: inherit;
  transition: 0.4s;
  padding: 5px;
}

.singleButton {
  width: 450px;
  margin-top: 0px;
}

@media screen and (max-width: 740px) {
  .loginInput {
    width: 330px;
  }

  .singleButton {
    width: 330px;
    margin-top: 10px;
  }
}
