.homePage {
  width: 95vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  text-align: center;
  margin: 5% auto;
}

.homePage p {
  margin-bottom: 50px;
}

.homePage button {
  width: 450px;
}

.homepageContainer {
  height: 100vh;
}

.logoContainer {
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.allCards {
  display: flex;
  justify-content: space-evenly;
  gap: 3%;
  width: 100%;
  margin: auto;
}

.infoCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 3% 5%;
  background-color: var(--beige);
  max-width: 450px;
  min-width: 200px;
  height: 200px;
}

.cardImage {
  width: 80px;
  margin: 10px;
}

.cardText {
  font-weight: 700;
  color: var(--highlight);
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: -0.02em;
}

/* Media Queries */

@media screen and (max-width: 740px) {
  .homePage {
    padding-bottom: 10%;
  }

  .logoContainer {
    width: 300px;
  }

  .allCards {
    flex-direction: column;
    gap: 3%;
  }

  .infoCard {
    width: 90%;
    height: 100px;
    margin: 3% auto;
    padding: 10% 5%;
  }

  .cardText {
    margin-top: 50px;
  }
}
