.nav {
  height: var(--nav-height);
  pointer-events: none;
}

.nav i {
  cursor: pointer;
}

.navNormal {
  display: flex;
  align-items: center;
  height: var(--nav-height);
  position: fixed;
  padding: 10px 10px;
}
.navNormal {
  pointer-events: all;
}

.navDesktop {
  display: flex;
  align-items: center;
  height: var(--nav-height);
  width: 100%;
  justify-content: space-around;
  position: fixed;
  padding: 10px 10px;
  background-color: var(--highlight);
}

.drawer {
  width: 240px;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
}

ul a {
  list-style: none;
  text-decoration: none;
  pointer-events: all;
  color: var(--font-dark);
}

.nav svg {
  color: var(--highlight);
  height: var(--nav-height);
  padding: 10px 0;
  align-self: center;
}

.drawer li div {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 10px 0;
}

.drawer li div svg {
  width: 20px;
  height: 20px;
  padding: 0;
}

@media screen and (min-width: 740px) {
  .drawer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--nav-height);
    width: 100%;
    justify-content: space-around;
    position: fixed;
    padding: 10px 10px;
    background-color: var(--highlight);
    transform: none;
  }
  .nav ul {
    display: flex;
    gap: 20px;
  }

  .nav ul a {
    color: white;
    cursor: pointer;
  }

  .nav svg {
    color: white;
    width: 100px;
    height: var(--nav-height);
    padding: 10px 0;
    align-self: center;
  }
}
