/* Button style */
.button {
  background: var(--highlight);
  width: 100%;
  height: 54px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0px;
  font-size: 26px;
  color: var(--white);
  border: 2px solid var(--highlight);
  outline: inherit;
  transition: 0.4s;
  box-shadow: 4px 4px 14px #f391c1;
}

.button:hover {
  border: 2px solid var(--white);
}

.button:active {
  background: var(--background);
  color: var(--highlight);
  border: 2px solid var(--highlight);
  transition: 0.1s;
  box-shadow: 2px 2px 15px var(--highlight-light);
}

.buttonOutline {
  background: var(--background);
  width: 100%;
  height: 54px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0px;
  font-size: 26px;
  color: var(--highlight);
  border: 2px solid var(--highlight);
  outline: inherit;
  transition: 0.4s;
}

.buttonOutline:active {
  background: var(--highlight);
  color: var(--white);
  transition: 0.1s;
}

.buttonLink {
  color: inherit;
  text-decoration: none;
}

.buttonBorder {
  background: transparent;
  width: 450px;
  height: 54px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0px 30px;
  font-size: 26px;
  color: var(--highlight);
  border: 2px solid var(--highlight);
  outline: inherit;
  transition: 0.4s;
}

.buttonBorder:hover {
  color: var(--white);
  border: 2px solid var(--highlight);
  background: var(--highlight);
}

@media screen and (max-width: 740px) {
}
