/* Button style */
/* .linkContainer {
  width: 100%;
  margin: 0 auto;
} */

.button {
  background: var(--highlight);
  min-width: 100%;
  max-width: 450px;
  height: 54px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0px;
  font-size: 26px;
  color: var(--white);
  border: 2px solid var(--highlight);
  outline: inherit;
  transition: 0.4s;
  box-shadow: 2px 2px 5px var(--highlight-light);
}

.button:hover {
  border: 2px solid var(--highlight-light);
  box-shadow: 3px 3px 7px var(--highlight-light);
  background: var(--highlight-light);
  scale: 1.01;
}

.button:active {
  background: var(--background);
  color: var(--highlight);
  border: 2px solid var(--highlight);
  transition: 0.1s;
  box-shadow: 2px 2px 15px var(--highlight-light);
}

.buttonBorder {
  background: var(--background);
  width: 100%;
  max-width: 450px;
  height: 54px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0px;
  font-size: 26px;
  color: var(--highlight);
  border: 2px solid var(--highlight);
  outline: inherit;
  transition: 0.4s;
  box-shadow: 1px 1px 3px var(--highlight-light);
}

.buttonBorder:hover {
  border: 2px solid var(--white);
  box-shadow: 3px 3px 7px var(--highlight-light);
  color: var(--font-light);
  background: var(--highlight);
  scale: 1.01;
}

.buttonBorder:active {
  background: var(--highlight);
  color: var(--white);
  transition: 0.1s;
}

.buttonLink {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 740px) {
  .button,
  .buttonBorder {
    max-width: 330px;
    /* min-width: 330px; */
    margin: 0px auto 20px;
  }
}
