.light-theme {
  --font-dark: #041b15;
  --font-light: #d9d9d9;
  --shadow: #084233;
  --highlight: #8a365e;
  --background: #caafb3;
  --beige: #beb7a4;
}

.dark-theme {
  --font-dark: #041b15;
  --font-light: #caafb3;
  --shadow: #084233;
  --highlight: #8a365e;
  --background: #041b15;
  --beige: #beb7a4;
}

.h1-desktop {
  font-family: "Teko", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 69px;
  letter-spacing: -0.02em;
}

.h2-desktop {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: -0.02em;
}

.body-desktop {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
}

@media screen and (max-width: 450px) {
  .h1-desktop {
    font-size: 48px;
    line-height: 69px;
  }

  .h2-desktop {
    font-size: 20px;
    line-height: 23px;
  }

  .body-desktop {
    font-size: 13px;
    line-height: 15px;
  }
}
